<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Message</title>
</head>
<body>
    <h1>Create a Message</h1>
    <div><a href="/">Back</a></div>
    <form action="/message" method="POST">
        <label for="title">Title</label>
        <input name="title" type="text" />
        <label for="message">Message</label>
        <input name="message" type="text" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>