<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
</head>
<body>
    <h1>Sign Up</h1>
    <div><a href="/">Back</a></div>
    <form action="/sign-up" method="POST">
        <label for="first_name">First name</label>
        <input name="first_name" placeholder="first_name" type="text" />
        <label for="last_name">Last name</label>
        <input name="last_name" placeholder="last_name" type="text" />
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <label for="membership">Membership Code</label>
        <input name="membership" type="password" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>